*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/libs/
app/proguard-rules.pro
app/src/main/res/drawable/
gradle.properties
gradlew
gradlew.bat
library/libs/
library/proguard-rules.pro
